<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/pirate" method="post">
      <label for="pirate">
        Pirate Name: <input type="text" name="pirate[name]">
        Pirate Height: <input type="text" name="pirate[height]">
        Pirate Weight: <input type="text" name="pirate[weight]">
    </form>
  </body>
</html>
